<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
        <main>
            <div class="container">
                <div class="alert alert-warning" role="alert">
                    Accounts from the old app have been migrated and you can continue to sign in with your old email and password.
                    <br>
                    <span class="badge bg-warning">Note</span>
                    If your password was previously less than 8 characters long then you need to <a href="/auth/reset">reset it</a>.
                </div>
                <h1>Hi.</h1>
                <h4 class="mb-4">Welcome to the new version of the availability app.</h4>
                <strong>What's changed?</strong>
                <ul>
                    <li>Improved user flows.</li>
                    <li>Availability is more granular, now with 30 minute slots.</li>
                    <li>Faster page loading times.</li>
                    <li>Infrastructure migrated to <a href="https://aws.amazon.com/">AWS</a>.</li>
                    <li>A bunch of unused features were removed.</li>
                </ul>      
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>