<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
        <main>
            <div class="container">
                <h1>Hi</h1>
                <h4 class="mb-4">Welcome to the new version of the availability app.</h4>
                <strong>What's changed?</strong>
                <ul>
                    <li>Removal of unused features</li>
                </ul>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>