<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
        <main>
            <div class="container">
                <div class="alert alert-warning" role="alert">
                    <span class="badge bg-warning">Note</span>
                    This is a <strong>pre-production</strong> service. This environment is purely for testing. Please continue to use the old version <a href="https://beschikbaarheid.online">https://beschikbaarheid.online</a>. Outages should be expected. 
                </div>

                <h1>Hi.</h1>
                <h4 class="mb-4">Welcome to the new version of the availability app.</h4>
                <strong>What's changed?</strong>
                <ul>
                    <li>Improved user flows.</li>
                    <li>Availability is more granular, now with 30 minute slots.</li>
                    <li>Faster page loading times.</li>
                    <li>Infrastructure migrated to <a href="https://aws.amazon.com/">AWS</a>.</li>
                    <li>A bunch of unused features were removed.</li>
                </ul>      
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>