<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
        <main>
            <div class="container">
                <h1>Whoops</h1>
                <h4 class="mb-4">Seems like that page doesn't exist. <a href="/">Go home</a>.</h4>
            </div>
        </main>

        <%- include('../../partials/footer'); %>
    </body>
</html>